In [7]:
import pandas as pd

# read csv file

A = pd.read_csv("1_16 任務完成回報，GitHub PL Repo. Link (回覆) - 表單回應 1.csv")

In [8]:
A.tail()

,時間戳記,電子郵件地址,姓名,學號,GitHub PL Repo. Link
43,2022/9/15 上午 11:08:30,andersontsaitw@gmail.com,蔡昱宏,91199015Y,https://github.com/AndersonTsaiTW/PL-Repo
44,2022/9/9 下午 2:07:00,1234567si2k@gmail.com,邱達儒,無,https://github.com/QiuDaru/PL
45,2022/9/17 下午 8:52:05,cassietien0224@gmail.com,田雨禾,40923213L,https://github.com/YU-HE-TIEN/PL
46,2022/9/19 下午 10:05:48,weiweihnug@gmail.com,洪芷葳,41071205H,https://github.com/WeiweiHung/PL
47,2022/9/22 上午 12:09:47,jenny.lee.91518@gmail.com,李招蓁,40971203H,https://github.com/janliex/PL

In [15]:
import pandas as pd

# read csv file

lo = pd.read_csv("3-1.csv")

In [16]:
lo.tail()

,r,thera,thera eith pi,rcos,rsin,-r,-rcos,-rsin
32,2.362673,320,5.582222,1.805605,-1.523815,-2.362673,-1.805605,1.523815
33,2.399305,330,5.756667,2.074348,-1.205715,-2.399305,-2.074348,1.205715
34,2.435387,340,5.931111,2.285999,-0.839832,-2.435387,-2.285999,0.839832
35,2.470942,350,6.105556,2.432063,-0.436608,-2.470942,-2.432063,0.436608
36,2.505993,360,6.280000,2.505980,-0.007982,-2.505993,-2.505980,0.007982

In [8]:
print("法律位階")
law=["憲法","法律","命令","地方法規"]
print(law)

print("最高:",law[0],"次高:",law[1])

法律位階
['憲法', '法律', '命令', '地方法規']
最高: 憲法 次高: 法律

In [22]:
print("23頂獵群")
mb=["竹竹","阿嘉","瑋哥"]
print("成員:",mb[0],mb[1],mb[2])
print("銀牌以上:",mb[0],mb[2])
print("待加強",mb[-2:])

23頂獵群
成員: 竹竹 阿嘉 瑋哥
銀牌以上: 竹竹 瑋哥
待加強 ['阿嘉', '瑋哥']