In [19]:
import jieba
import jieba.analyse
import pandas as pd
import numpy
from collections import Counter

In [21]:
data1 = pd.read_csv('20220126093253520800.xlsx_.csv')
data1

,居住地\nResidence,Unnamed: 1,Unnamed: 2,合計\nTotal,業務\nBusiness,觀光\nLeisure,探親\nVisit\nRelatives,會議\nConference,求學\nStudy,展覽\nExhibition,醫療\nMedical Treatment,其他\nOthers,Unnamed: 12
0,亞洲地區,香港.澳門 HongKong. Macao,NaN,"10,760",133,2.0,363,0.0,"3,209",0.0,30.0,"7,023",NaN
1,NaN,大陸 Mainland China,NaN,"13,267",231,0.0,185,0.0,"1,950",0.0,242.0,"10,659",NaN
2,NaN,日本 Japan,NaN,"10,056","3,216",35.0,431,9.0,195,9.0,8.0,"6,153",NaN
3,NaN,"韓國 Korea,Republic of",NaN,"3,300",787,11.0,167,3.0,98,2.0,1.0,"2,231",NaN
4,NaN,印度 India,NaN,"1,930",183,0.0,81,1.0,83,0.0,4.0,"1,578",NaN
5,NaN,中東 Middle East,NaN,696,145,3.0,43,0.0,42,0.0,8.0,455,NaN
6,NaN,東南亞地區,馬來西亞 Malaysia,"6,205",541,6.0,180,11.0,95,0.0,22.0,"5,350",NaN
7,NaN,NaN,新加坡 Singapore,"2,417",486,5.0,379,4.0,13,1.0,3.0,"1,526",NaN
8,NaN,NaN,印尼 Indonesia,"13,819",159,2.0,358,3.0,180,0.0,30.0,"13,087",NaN
9,NaN,NaN,菲律賓 Philippines,"9,183",125,2.0,116,0.0,74,0.0,26.0,"8,840",NaN
10,NaN,NaN,泰國 Thailand,"7,570",62,4.0,176,0.0,66,1.0,1.0,"7,260",NaN
11,NaN,NaN,越南 Vietnam,"24,935",27,9.0,719,1.0,390,3.0,16.0,"23,770",NaN
12,NaN,NaN,東南亞其他地區 Others,"1,180",48,0.0,49,0.0,25,0.0,28.0,"1,030",NaN
13,NaN,NaN,東南亞小計 Sub-Total,"65,309","1,448",28.0,"1,977",19.0,843,5.0,126.0,"60,863",NaN
14,NaN,亞洲其他地區 Others,NaN,678,41,1.0,28,1.0,38,0.0,1.0,568,NaN
15,NaN,亞洲合計 Total,NaN,"105,996","6,184",80.0,"3,275",33.0,"6,458",16.0,420.0,"89,530",NaN
16,美洲地區,加拿大 Canada,NaN,"1,178",121,6.0,244,1.0,22,0.0,2.0,782,NaN
17,NaN,美國 United States of America,NaN,"11,981","1,227",21.0,"1,932",16.0,270,4.0,21.0,"8,490",NaN
18,NaN,墨西哥 Mexico,NaN,181,34,3.0,9,0.0,27,0.0,0.0,108,NaN
19,NaN,巴西 Brazil,NaN,171,19,0.0,16,0.0,3,0.0,0.0,133,NaN
20,NaN,阿根廷 Argentina,NaN,52,4,0.0,4,0.0,2,0.0,0.0,42,NaN
21,NaN,美洲其他地區 Others,NaN,"1,079",30,0.0,28,0.0,103,1.0,1.0,916,NaN
22,NaN,美洲合計 Total,NaN,"14,642","1,435",30.0,"2,233",17.0,427,5.0,24.0,"10,471",NaN
23,歐洲地區,比利時 Belgium,NaN,681,135,9.0,22,0.0,33,0.0,0.0,482,NaN
24,NaN,法國 France,NaN,"1,567",208,15.0,124,0.0,125,3.0,3.0,"1,089",NaN
25,NaN,德國 Germany,NaN,"1,937",546,2.0,228,0.0,113,0.0,0.0,"1,048",NaN
26,NaN,義大利 Italy,NaN,539,141,0.0,38,1.0,28,0.0,0.0,331,NaN
27,NaN,荷蘭 Netherlands,NaN,"2,070",723,4.0,73,0.0,10,0.0,1.0,"1,259",NaN
28,NaN,瑞士 Switzerland,NaN,216,39,0.0,22,1.0,8,0.0,0.0,146,NaN
29,NaN,西班牙 Spain,NaN,423,89,0.0,27,0.0,25,0.0,0.0,282,NaN
30,NaN,英國 United Kingdom,NaN,"2,964",673,8.0,163,0.0,169,2.0,4.0,"1,945",NaN
31,NaN,奧地利 Austria,NaN,248,98,0.0,14,0.0,21,0.0,1.0,114,NaN
32,NaN,希臘 Greece,NaN,71,32,0.0,4,0.0,3,0.0,0.0,32,NaN
33,NaN,瑞典 Sweden,NaN,279,30,0.0,22,0.0,8,0.0,0.0,219,NaN
34,NaN,俄羅斯 Russian Federation,NaN,724,166,1.0,10,3.0,16,1.0,2.0,525,NaN
35,NaN,歐洲其他地區 Others,NaN,"4,694","1,243",5.0,139,44.0,148,2.0,6.0,"3,107",NaN
36,NaN,歐洲合計 Total,NaN,"16,413","4,123",44.0,886,49.0,707,8.0,17.0,"10,579",NaN
37,大洋洲,澳大利亞 Australia,NaN,568,61,0.0,89,0.0,7,0.0,0.0,411,NaN
38,NaN,紐西蘭 New Zealand,NaN,159,27,1.0,25,3.0,4,0.0,4.0,95,NaN
39,NaN,大洋洲其他地區 Others,NaN,631,2,1.0,2,0.0,8,0.0,342.0,276,NaN
40,NaN,大洋洲合計 Total,NaN,"1,358",90,2.0,116,3.0,19,0.0,346.0,782,NaN
41,非洲地區,南非 S. Africa,NaN,355,57,0.0,12,0.0,6,0.0,0.0,280,NaN
42,NaN,非洲其他地區 Others,NaN,546,41,0.0,18,0.0,25,0.0,1.0,461,NaN
43,NaN,非洲合計 Total,NaN,901,98,0.0,30,0.0,31,0.0,1.0,741,NaN
44,NaN,未列明 Unstated,NaN,"1,169",7,0.0,2,0.0,2,0.0,0.0,"1,158",NaN
45,NaN,總計 Grand Total,NaN,"140,479","11,937",156.0,"6,542",102.0,"7,644",29.0,808.0,"113,261",NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,本表來臺「目的別」係入境旅客於入境登記表（A卡）中勾選來臺旅行目的：包含業務、觀光、探親、會...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
andrew = ['我是台師大科技系陳亮竹']
for sentence in andrew:
    seg_list = jieba.cut(sentence)
    print('/'.join(seg_list))

我/是/台師大/科技系/陳亮竹

In [23]:
jieba.load_userdict('作業四.txt')

for sentence in andrew:
    seg_list = jieba.cut(sentence)
    print('/'.join(seg_list))

我/是/台師大/科技系/陳亮竹

In [24]:
data1['seg'] = ""
data1.head()

,居住地\nResidence,Unnamed: 1,Unnamed: 2,合計\nTotal,業務\nBusiness,觀光\nLeisure,探親\nVisit\nRelatives,會議\nConference,求學\nStudy,展覽\nExhibition,醫療\nMedical Treatment,其他\nOthers,Unnamed: 12,seg
0,亞洲地區,香港.澳門 HongKong. Macao,NaN,"10,760",133,2.0,363,0.0,"3,209",0.0,30.0,"7,023",NaN,
1,NaN,大陸 Mainland China,NaN,"13,267",231,0.0,185,0.0,"1,950",0.0,242.0,"10,659",NaN,
2,NaN,日本 Japan,NaN,"10,056","3,216",35.0,431,9.0,195,9.0,8.0,"6,153",NaN,
3,NaN,"韓國 Korea,Republic of",NaN,"3,300",787,11.0,167,3.0,98,2.0,1.0,"2,231",NaN,
4,NaN,印度 India,NaN,"1,930",183,0.0,81,1.0,83,0.0,4.0,"1,578",NaN,

In [29]:
#seg_list = jieba.lcut(documents)
jieba.analyse.set_stop_words('作業四.txt')
index = 0
for documents in data1['合計\nTotal']:
    seg_list = jieba.analyse.extract_tags(documents, 150)
    data1['seg'].iloc[index] = seg_list
    index += 1

C:\Users\andre\AppData\Local\Temp\ipykernel_160\3895054355.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data1['seg'].iloc[index] = seg_list

AttributeError: 'float' object has no attribute 'decode'

In [30]:
data1["seg"]

0      [10, 760]
1      [13, 267]
2      [10, 056]
3          [300]
4          [930]
5          [696]
6          [205]
7          [417]
8      [13, 819]
9          [183]
10         [570]
11     [24, 935]
12         [180]
13     [65, 309]
14         [678]
15    [105, 996]
16         [178]
17     [11, 981]
18         [181]
19         [171]
20          [52]
21         [079]
22     [14, 642]
23         [681]
24         [567]
25         [937]
26         [539]
27         [070]
28         [216]
29         [423]
30         [964]
31         [248]
32          [71]
33         [279]
34         [724]
35         [694]
36     [16, 413]
37         [568]
38         [159]
39         [631]
40         [358]
41         [355]
42         [546]
43         [901]
44         [169]
45    [140, 479]
46
47
Name: seg, dtype: object

In [31]:
words = list(data1["合計\nTotal"])
show_key = pd.DataFrame(Counter(words).keys())
show_values = pd.DataFrame(Counter(words).values())

In [32]:
df = [show_key, show_values]

In [33]:
result = pd.concat(df, axis=1)
result.columns = ['judge', 'freguency']
result

       judge  freguency
0    10,760           1
1    13,267           1
2    10,056           1
3     3,300           1
4     1,930           1
5       696           1
6     6,205           1
7     2,417           1
8    13,819           1
9     9,183           1
10    7,570           1
11   24,935           1
12    1,180           1
13   65,309           1
14      678           1
15  105,996           1
16    1,178           1
17   11,981           1
18      181           1
19      171           1
20       52           1
21    1,079           1
22   14,642           1
23      681           1
24    1,567           1
25    1,937           1
26      539           1
27    2,070           1
28      216           1
29      423           1
30    2,964           1
31      248           1
32       71           1
33      279           1
34      724           1
35    4,694           1
36   16,413           1
37      568           1
38      159           1
39      631           1
40    1,358           1
41      355           1
42      546           1
43      901           1
44    1,169           1
45  140,479           1
46       NaN          2